
.app-container {
    display: flex;
    height: 100vh;
    background-color: rgba(232, 243, 248, 1); /* Ensure this matches */
  }
  .content {
    flex-grow: 1;
    padding: 10px;
    background-color: rgba(232, 243, 248, 1);
    border-radius: 10px;
    margin: 10px;
  }

  